DB_HOST=
DB_PORT=3306
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASSWORD=
# Preferred for SnapDeploy: paste https://cdn.aiven.io/ca.pem as a multiline value.
DB_SSL_CA_CONTENT=
# Alternative if the certificate has been mounted as a file.
DB_SSL_CA=
APP_USERNAME=admin
APP_PASSWORD=
